/*
 * CSS Comune a tutte le pagine
 */
@import url("../bootstrap/css/bootstrap-theme.min.css");
@font-face {
    font-family: 'Skolar'; /* nome del font */
    src: url(SkolarCyrillic_Regular.otf); /*url al font da utilizzare*/
    src: local('Skolar'), url('SkolarCyrillic_Regular.otf') format('truetype');
}
html,
body {
    height: 100%;
    font-family: Skolar;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;;
}
.main-container {
    padding-top: 60px;
}
hr {
    color: #42ACEA;
    background-color: #42ACEA;
    border-color: #42ACEA;
}
#footer,#push {
    text-align: center;
    height: 60px;
}
#info {
    margin: 20px 0;
}
#footer {
    background-color: #F5F5F5;
}


